*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: black; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Krub', sans-serif;
  line-height: 1.7;
  color: #102415; }

.header {
  font-size: 2rem;
  text-transform: uppercase; }

.myself {
  font-size: 3.2rem; }

.project-card__title {
  font-size: 2.4rem;
  text-transform: uppercase; }

.technologies {
  font-size: 1.4rem; }
  .technologies__header {
    text-transform: uppercase; }

@keyframes header-background-animation {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 100%); }
  40% {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 50% 100%); }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 100%); } }

@keyframes header-arrow-animation {
  0% {
    transform: translateY(-5%); }
  100% {
    transform: translateY(20%); } }

@keyframes header-shadow-animation {
  0% {
    opacity: 0;
    box-shadow: 0 -0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.15); }
  100% {
    opacity: 1;
    box-shadow: 0 -0.5rem 1rem 0.1rem black; } }

@keyframes header-appear-animation {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes header-greeting-animation {
  0% {
    opacity: 0;
    transform: translateY(10rem) scale(0); }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); } }

@keyframes myself-social-animation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(30); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes project-card-show-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.myself {
  width: 35rem;
  height: 35rem;
  position: relative;
  animation: header-appear-animation .4s ease-out .5s backwards; }
  .myself__photo {
    height: 100%;
    border: 2rem solid #000;
    border-bottom: 6rem solid #000;
    border-radius: 3px;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.15); }
  .myself__caption {
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #ffaa78;
    text-align: center; }
  .myself__link {
    color: #5a5a5a;
    line-height: 1; }
    .myself__link:not(:last-child) {
      margin-right: 2rem; }
    .myself__link:focus {
      outline: none;
      color: #ff8741; }
    .myself__link:active {
      border-bottom: none; }
  .myself__social {
    transition: all .2s;
    animation: myself-social-animation 1s ease-in-out 1.4s backwards; }
    .myself__social:hover {
      color: #ff8741;
      transform: scale(1.1); }
    .myself__social:active {
      transform: scale(1.05);
      border-bottom: none; }

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 50rem;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  background-color: #ff8741;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 1rem 1rem #ff8741;
  color: rgba(0, 0, 0, 0);
  transition: all .4s ease-in-out;
  animation: project-card-show-animation 1s ease-in-out 1.8s backwards; }
  .project-card__title {
    padding: 1rem 0; }
  .project-card__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; }
  .project-card__image {
    width: 100%;
    filter: blur(0.5rem);
    transition: all .4s ease-in-out; }
  .project-card:hover, .project-card:focus {
    transform: scale(1.1);
    box-shadow: none;
    color: #000; }
  .project-card:hover .project-card__image,
  .project-card:focus .project-card__image {
    filter: blur(0); }

.technologies__header {
  padding: 1rem 0 0; }

.technologies__list {
  list-style: none;
  margin-bottom: 1rem; }

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .header__greeting {
    margin-top: 3rem;
    animation: header-greeting-animation .4s ease-out 2s backwards; }
  .header__see-more {
    font-size: 1.4rem;
    animation: header-appear-animation .4s ease-out .8s backwards; }
    .header__see-more::after {
      content: '';
      display: inline-block;
      width: 3rem;
      background: transparent;
      animation: header-shadow-animation 2s ease-in-out infinite alternate; }
  .header__arrow {
    display: block;
    font-size: 6rem;
    animation: header-arrow-animation 2s ease-in-out infinite alternate; }
  .header__background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ff8741;
    box-shadow: 0 0 1rem 1rem #ff8741;
    animation: header-background-animation 1.2s ease .4s backwards; }
    @media screen and (max-width: 600px) {
      .header__background {
        animation: header-background-animation 1.2s ease backwards; } }

.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
