*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: black; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Krub', sans-serif;
  line-height: 1.7;
  color: #102415; }

.header {
  font-size: 2rem;
  text-transform: uppercase; }

.myself {
  font-size: 3.2rem; }

.project-card__title {
  font-size: 2.4rem;
  text-transform: uppercase; }

.technologies {
  font-size: 1.4rem; }
  .technologies__header {
    text-transform: uppercase; }

@keyframes header-background-animation {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 100%); }
  40% {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 50% 100%); }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 100%); } }

@keyframes header-arrow-animation {
  0% {
    transform: translateY(-5%); }
  100% {
    transform: translateY(20%); } }

@keyframes header-shadow-animation {
  0% {
    opacity: 0;
    box-shadow: 0 -0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.15); }
  100% {
    opacity: 1;
    box-shadow: 0 -0.5rem 1rem 0.1rem black; } }

@keyframes header-appear-animation {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes header-greeting-animation {
  0% {
    opacity: 0;
    transform: translateY(10rem) scale(0); }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); } }

@keyframes myself-social-animation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(30); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@keyframes project-card-show-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes button-first-piece-animation {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(-600%, 2000%) rotate(360deg); }
  100% {
    display: none; } }

@keyframes button-second-piece-animation {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(-200%, 2000%) rotate(540deg); }
  100% {
    display: none; } }

@keyframes button-third-piece-animation {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(100%, 2000%) rotate(180deg); }
  100% {
    display: none; } }

@keyframes button-fourth-piece-animation {
  0% {
    transform: translate(0, 0); }
  99% {
    transform: translate(500%, 2000%) rotate(360deg); }
  100% {
    display: none; } }

.button,
.button:focus {
  height: 5rem;
  width: 20rem;
  background: #6F8E74;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  outline: none;
  transition: all .2s;
  z-index: 2;
  font-size: 2rem; }
  .button:active,
  .button:focus:active {
    transform: scale(0.98); }

.crash-button {
  position: relative;
  height: 5rem;
  width: 20rem;
  z-index: 1;
  display: none; }
  .crash-button__first-piece, .crash-button__second-piece, .crash-button__third-piece, .crash-button__fourth-piece {
    position: absolute;
    height: 5rem;
    width: 20rem;
    background: #6F8E74;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: .3rem; }
  .crash-button__first-piece {
    clip-path: polygon(0 0, 30% 0, 0 100%);
    animation: button-first-piece-animation 3s forwards; }
  .crash-button__second-piece {
    clip-path: polygon(30% 0, 60% 0, 45% 100%, 0 100%);
    animation: button-second-piece-animation 3s forwards; }
  .crash-button__third-piece {
    clip-path: polygon(60% 0, 100% 60%, 100% 100%, 45% 100%);
    animation: button-third-piece-animation 3s forwards; }
  .crash-button__fourth-piece {
    clip-path: polygon(60% 0, 100% 0, 100% 60%);
    animation: button-fourth-piece-animation 3s forwards; }

.hide {
  display: none; }

.show {
  display: block; }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
