@import 'abstract/mixins';
@import 'abstract/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/animations';

@import 'components/button';
@import 'components/crash-button';
// @import 'components/project-card';
// @import 'components/technologies';

@import 'base/utilities';

@import 'layout/header';
@import 'layout/main';