@import 'abstract/mixins';
@import 'abstract/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/animations';
@import 'base/utilities';

// @import 'components/myself';
// @import 'components/project-card';
// @import 'components/technologies';

@import 'layout/header';
@import 'layout/main';