.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__greeting {
    margin-top: 3rem;

    animation: header-greeting-animation .4s ease-out 2s backwards;
  }

  &__see-more {
    font-size: 1.4rem;

    animation: header-appear-animation .4s ease-out .8s backwards;

    &::after {
      content: '';
      display: inline-block;
      width: 3rem;
      background: transparent;

      animation: header-shadow-animation 2s ease-in-out infinite alternate;
    }
  }

  &__arrow {
    display: block;
    font-size: 6rem;

    animation: header-arrow-animation 2s ease-in-out infinite alternate;
  }

  &__background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $color-primary;
    box-shadow: 0 0 1rem 1rem $color-primary;


    animation: header-background-animation 1.2s ease .4s backwards;
  }
}