.header {
  height: 95vh;
  position: relative;
  
  &__background {
    height: 95vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    clip-path: polygon(0 75%, 0 0, 100% 0, 100% 75%, 50% 100%);

    animation: header-background-animation 1.4s linear .4s;
    animation-fill-mode: backwards;
  }
}