// COLORS
$color-primary: rgb(255, 135, 65);
$color-primary-light: rgb(255, 170, 120);

$color-secondary-light: #85CACA;
$color-secondary-dark: #6F8E74;

$color-dark: #102415;

$color-white: #fff;
$color-black: #000;

$color-page: rgb(0, 0, 0);