// COLORS
$color-primary: rgb(255, 135, 65);
$color-primary-light: rgb(255, 170, 120);

$color-secondary-light: #85CACA;
$color-secondary-dark: #6F8E74;

$color-dark: #102415;

$color-light-grey: rgb(160, 160, 160);
$color-dark-grey: rgb(90, 90, 90);

$color-white: #fff;
$color-black: #000;

$color-page: rgb(0, 0, 0);

// Fonts
$font-size-main-header: 2rem;
$font-size-sub-header: 2.4rem;
$font-size-default: 1.4rem;

$border-radius: 3px;