.button,
.button:focus {
  height: 5rem;
  width: 20rem;
  background: $color-secondary-dark;
  border: none;
  border-radius: $border-radius;
  text-transform: uppercase;
  letter-spacing: .2rem;
  outline: none;
  transition: all .2s;
  z-index: 2;
  font-size: 2rem;

  &:active {
    transform: scale(.98);
  }
}