.myself {
  width: 35rem;
  height: 35rem;
  margin-top: 10rem;
  position: relative;
  
  animation: header-appear-animation .4s ease-out .6s;
  animation-fill-mode: backwards;
  
  &__photo {
    height: 100%;
    border: 2rem solid $color-black;
    border-bottom: 6rem solid $color-black;
    border-radius: $border-radius;
    box-shadow: inset 0 0 2rem -2rem rgba($color-black, .9);
  }

  &__caption {
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    color: $color-primary-light;
    text-align: center;
  }
}