.myself {
  width: 35rem;
  height: 35rem;
  position: relative;
  
  animation: header-appear-animation .4s ease-out .5s backwards;
  
  &__photo {
    height: 100%;
    border: 2rem solid $color-black;
    border-bottom: 6rem solid $color-black;
    border-radius: $border-radius;
    box-shadow: 0 2rem 1rem rgba($color-black, .15);
  }

  &__caption {
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    color: $color-primary-light;
    text-align: center;
  }

  &__link {
    color: $color-dark-grey;
    line-height: 1;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &:link,
    &:visited {

    }

    &:focus {
      outline: none;
      color: $color-primary;
    }

    &:active {
      border-bottom: none;
    }
  }

  &__social {
    transition: all .2s;

    animation: myself-social-animation 1s ease-in-out 1.4s backwards;

    &:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
    
    &:active {
      transform: scale(1.05);
      border-bottom: none;
    }
  }
}