@keyframes header-background-animation {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 100%);
  }
  50% {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 50% 100%);
  }
  100% {
    clip-path: polygon(0 75%, 0 0, 100% 0, 100% 75%, 50% 100%);
  }
}

@keyframes header-arrow-animation {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(10%);
  }
}

@keyframes header-appear-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}