*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px = 1rem; 10/16px = 62.5%
  background-color: $color-page;
}

body {
  box-sizing: border-box;
}